@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:wght@300&display=swap');

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato'; sans-serif;
}

.navbar{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 0;
  letter-spacing: 0.2rem;

}

.navbar-dark .navbar-nav .nav-link{
  padding-left: 20px;
}

.heading-content{
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 100%;
}

.heading-content h5{
  font-size: 3em;
  font-weight: 300;
  color: #fff;
  font-family: 'Koulen';
}

.heading-content h1{
  font-size: 4em;
  font-weight: bolder;
  color: #fff;
  font-family: 'Koulen';
}

#Skills{
  padding: 100px;
}

#Projects{
  padding-top: 100px;
  padding-bottom: 100px;
}
